{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated and album.user == user or user.is_superuser %}
    <h2>Are you sure you want to delete {{ album.album_name }} and all his tracks?</h2>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Yes</button>
      <button type="button" onClick="history.back()">No</button>

    </form>
{% else %}
    <h2>You don't have rights to access the demanded page</h2>
    <button type='submit' onclick="window.location.href='/musicAPP'">Go Back</button>
{% endif %}
{% endblock %}
