{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated and artist.user == user or user.is_superuser %}
    <h2>Are you sure you want to delete {{ artist.artist_name }}, all his albums and all tracks in each album?</h2>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Yes</button>
      <button type="button" onClick="history.back()">No</button>
    </form>
{% else %}
    <h2>You don't have rights to access the demanded page</h2>
    <button type='submit' onclick="window.location.href='/musicAPP'">Go Back</button>
{% endif %}
{% endblock %}
