{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated and album.user == user or user.is_superuser %}
  <button type='submit' onclick="window.location.href='/musicAPP/albums/{{ album.pk }}/edit.html'">Edit</button>
  <button type='submit' onclick="window.location.href='/musicAPP/albums/{{ album.pk }}/delete/'">Delete</button>
{% endif %}
{% if album %}
    <h1>{{ album.album_name }}</h1>
    <h2>Artist:<a href='/musicAPP/artists/{{ album.artists.pk }}.html'>{{ album.artists.artist_name }}</a></h2>
    <h2>Release Date: {{ album.releaseDate }}</h2>
    <h2>Spotify Link: <a title='{{ album.spotifyLink }} Link'
           href='{{ album.spotifyLink }}'> {{ album.spotifyLink }} </a></h2>
    <p class="tracks_table">
          {% if tracks %}
            <tr>
                <h2>Albums' tracks</h2>
            </tr>

            {% for track in tracks %}
                <tr>
                    <td><a title='{{ track.track_name }} Detail Page'
                           href='/musicAPP/tracks/{{ track.pk }}.html'> {{ track.track_name }} </a>
                    </td><br>
                </tr>
            {% endfor %}
          {% else %}
            <tr> This album doesn't have tracks</tr>
          {% endif %}

    </p>
{% endif %}
{% endblock %}
