{% extends 'base.html' %}
{% block content %}
<button type='submit' onclick="window.location.href='/musicAPP/albums/{{ album.pk }}.json'">View in JSON</button>
<button type='submit' onclick="window.location.href='/musicAPP/albums/{{ album.pk }}.xml'">View in XML</button>
<br></br>
{% if user.is_authenticated and album.user == user or user.is_superuser %}
  <button type='submit' onclick="window.location.href='/musicAPP/albums/{{ album.pk }}/edit.html'">Edit</button>
  <button type='submit' onclick="window.location.href='/musicAPP/albums/{{ album.pk }}/delete.html'">Delete</button>
{% endif %}
{% if album %}
    <span vocab="http://schema.org/" typeof="MusicAlbum">
    <h1>
      <span property="name">
        {{ album.album_name }}
      </span>
    </h1>
    <span property ="image" content =" {{ album.image }}"></span>
    <p><img src = "{{album.image}}" height="300" width="300"/></p>
    <h2>Artist:
      <span property="creator">
        <a href='/musicAPP/artists/{{ album.artists.pk }}.html'>
          {{ album.artists.artist_name }}
        </a>
      </span>
    </h2>
    <h2>Release Date:
      <span property="dateCreated">
        {{ album.releaseDate }}
      </span>
    </h2>
    <h2>Spotify Link:
        <span property="url">
          <a title='{{ album.spotifyLink }} Link' href='{{ album.spotifyLink }}'>
            {{ album.spotifyLink }}
          </a>
        </span>
    </h2>
    <h2 style="color:#b30000">Added by: <span property="publisher">{{ album.user }}</span></h2>
    <p class="tracks_table">
      {% if tracks %}
        <tr>
              <h2>Albums' tracks</h2>
        </tr>
        <span rel="tracks" typeof="MusicRecording">
            {% for track in tracks %}
            <span property="name"><tr>
                <td>
                        <a title='{{ track.track_name }} Detail Page'href='/musicAPP/tracks/{{ track.pk }}.html'>
                            {{ track.track_name }}
                        </a>

                    </td><br>
                </tr>
                </span>
            {% endfor %}
        </span>
        {% else %}
          <tr><span proeprty="text"> This album doesn't have tracks</span></tr>
      {% endif %}

    </p>
{% endif %}


<h2>Reviews</h2>
{% if album.albumsReviews.all|length > 0 %}
<span rel="aggregateRating">
    <p typeof="AggregateRating">
      Average rating <a style="color:#b30000"><strong>{{ album.averageRatingString }}</strong></a>
      <span property="ratingValue" content="{{ album.averageRating }}">
        {% with album.albumsReviews.all|length as reviewCount %}
        from <span property="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
        {% endwith %}
    </p>
</span>
<ul rel="review">
    {% for review in album.albumsReviews.all %}
        <li typeof="Review">
            <p style="color:#b30000" rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue" content="{{ review.rating }}"></span>
                {{ review.stringRating }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{ best.0 }}"></span>
                {% endwith %}
            </p>
            <ul>
              <p property="description">{{ review.comment }}</p>
              <p>Created by <span property="author">{{ review.user }}</span> on
                  <span property="datePublished" content="{{ review.date|date:'Y-m-d' }}">{{ review.date }}</span></p>
            </ul>
        </li>
    {% endfor %}
</ul>
</span>
{% endif %}

<h3>Add Review</h3>
<form action="{% url 'musicapp:album_review_create' album.pk %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>{% for rate in RATING_CHOICES %}
    <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}" />
    <label for="choice{{ forloop.counter }}">{{ rate.1 }}</label>
    <br/>{% endfor %}
    </p>
    <input type="submit" value="Review" />
</form>
</span>

{% endblock %}
