{% extends 'base.html' %}
{% block content %}
    <button type='submit' onclick="window.location.href='/musicAPP/artists/{{ artist.pk }}.json'">View in JSON</button>
    <button type='submit' onclick="window.location.href='/musicAPP/artists/{{ artist.pk }}.xml'">View in XML</button>
    <br></br>
    {% if user.is_authenticated and artist.user == user or user.is_superuser%}
      <button type='submit' onclick="window.location.href='/musicAPP/artists/{{ artist.pk }}/edit.html'">Edit</button>
      <button type='submit' onclick="window.location.href='/musicAPP/artists/{{ artist.pk }}/delete.html'">Delete</button>
    {% endif %}
{% if artist %}
  <span vocab="http://schema.org/" typeof="MusicGroup">

    <h1>
      <span property="name">
        {{ artist.artist_name }}
      </span>
    </h1>
    <span property ="image" content =" {{ artist.image }}"></span>

    </p>
    <p>
      <img src = "{{artist.image}}" height="300" width="300"/>
    </p>
    <h2>Country:
      <span rel="location" typeof="Place">
        <span property="name">
            {{ artist.country }}
        </span>
      </span>
    </h2>
    <h2>Popularity:
      <span property="seeks">
        {{ artist.popularity }}
      </span>
    </h2>
    <h2>Spotify Link:
      <span property="url">
        <a title='{{ artist.spotifyLink }} Link' href='{{ artist.spotifyLink }}'>
           {{ artist.spotifyLink }}
         </span>
       </a>
     </h2>
    <h2 style="color:#b30000">Added by: <span property="owns">{{ artist.user }}</span></h2>
    <p class="albums_table">
           {% if albums %}
             <tr>
                 <h2>Artist's Albums</h2>
             </tr>
             <span rel="albums" typeof="MusicAlbum">
             {% for album in albums %}
                 <tr><td>
                     <span property="name">
                        <a title='{{ album.album_name }} Detail Page' href='/musicAPP/albums/{{ album.pk }}.html'>
                          {{ album.album_name }}
                        </a>
                      </span>
                      <span property="url" content="/musicAPP/albums/{{ album.pk }}.html"></span>
                 </td><br></tr>
             {% endfor %}
           </span>
           {% else %}
             <tr> This artist doesn't have albums</tr>
           {% endif %}

    </p>
{% endif %}

<h2>Reviews</h2>
{% if artist.artistsReviews.all|length > 0 %}
<span rel="aggregateRating">
    <p typeof="AggregateRating">
        Average rating <a style="color:#b30000"><strong>{{ artist.averageRatingString }}</strong></a>
        <span property="ratingValue" content="{{ artist.averageRating }}">
        {% with artist.artistsReviews.all|length as reviewCount %}
        from <span property="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
        {% endwith %}
    </p>
</span>
<ul rel="review">
    {% for review in artist.artistsReviews.all %}
        <li typeof="Review">
            <p style="color:#b30000" rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue" content="{{ review.rating }}"></span>
                {{ review.stringRating }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{ best.0 }}"></span>
                {% endwith %}
            </p>
            <ul>
              <p property="description">{{ review.comment }}</p>
              <p>Created by <span property="author">{{ review.user }}</span> on
                  <span property="datePublished" content="{{ review.date|date:'Y-m-d' }}">{{ review.date }}</span></p>
            </ul>
        </li>
    {% endfor %}
</ul>
</span>
{% endif %}

<h3>Add Review</h3>
<form action="{% url 'musicapp:artist_review_create' artist.pk %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>{% for rate in RATING_CHOICES %}
    <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}" />
    <label for="choice{{ forloop.counter }}">{{ rate.1 }}</label>
    <br/>{% endfor %}
    </p>
    <input type="submit" value="Review" />
</form>
</span>
{% endblock %}
