{% extends 'base.html' %}
{% block content %}
    <button type='submit' onclick="window.location.href='/musicAPP/artists.json'">View in JSON</button>
    <button type='submit' onclick="window.location.href='/musicAPP/artists.xml'">View in XML</button>
    <br></br>
    {% if user.is_authenticated %}
        <button type='submit' onclick="window.location.href='/musicAPP/artists/create.html'">Create</button>
    {% else %}
        <h3>Login to create</h3>
    {% endif %}
    <br>
    <span vocab="http://schema.org/" typeof="MusicGroup">
    <table class="model_table">
        {% if artist_list %}
            <h3>Artists' Name</h3>
            {% for artist in artist_list %}
                <tr>
                    <td>
                      <span property="name">
                      <a title='{{ artist.artist_name }} Detail Page'
                           href='/musicAPP/artists/{{ artist.pk }}.html'> {{ artist.artist_name }} </a>
                      </span>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
  </span>
{% endblock %}
