{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylesheet" href="{% static "style/style.css" %}" />
      <link	rel="stylesheet"
                  href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"	/>
      <script	src="http://code.jquery.com/jquery-2.2.3.js"></script>
      <script	src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <title>{% block title %}musicAPP{% endblock %}</title>
</head>
<body>

<p>
<div class="tooltip_top"></div>
<div class="tooltip_con">
  <p>
    {% block sidebar %}
    <button id='Home' type='submit' onclick="window.location.href='/musicAPP'">Home</button>
    {% if user.is_authenticated %}
    <button id='Logout' type='submit' onclick="window.location.href='/musicAPP/logout'">Logout</button>
    {% else %}
    <button id='Login' type='submit' onclick="window.location.href='/musicAPP/login'">Login</button>
    {% endif %}
    <b> User: {{ user }}</b>
  </p>
</div>
</p>
<br>
<br>
<br>
<br>
<br>

    {% endblock %}

<div id="content">
    {% block content %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% endblock %}
</div>
<div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>
