{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

 <script>
         $(function() {
             $.getJSON("{% static "countries.json" %}", {}, function (countries) {
                 $("#id_country").autocomplete({
                     source: countries
                 });
             });

             $("#id_artist_name").autocomplete({
                 source: function( request, response ) {
                     $.ajax({
                         url: "https://api.spotify.com/v1/search?q=" + request.term + "&type=artist",
                         type: "GET",
                         dataType: "json",

                         success: function( data_received )
                              {
                                response( $.map( data_received["artists"]["items"], function( item )
                                  {
                                    try
                                      {
                                       return{value : item.name, link : item.external_urls["spotify"], popularity : item.popularity, image : item.images[0]["url"]}
                                      }

                                    catch (e)
                                      {
                                       return{value : item.name, link : item.external_urls["spotify"], popularity : item.popularity, image : "/media/artist.png"}
                                      }
                                  }))
                              }
                     });
                 },
                 minLength: 2,
                 select:	function(	event, ui	)
                          {
                          if	(ui.item)
                                  {
                                    $("#id_spotifyLink").val(ui.item.link);
                                    $("#id_popularity").val(ui.item.popularity);
                                    $("#id_image").val(ui.item.image);
                                  }
                         }
             });

             $("#id_album_name").autocomplete({
                 source: function( request, response ) {
                     $.ajax({
                         url: "https://api.spotify.com/v1/search?q=" + request.term + "&type=album",
                         type: "GET",
                         dataType: "json",

                         success: function( data_received )
                              {
                                response( $.map( data_received["albums"]["items"], function( item )
                                  {
                                   try
                                      {
                                       return{value : item.name, link : item.external_urls["spotify"], image : item.images[0]["url"]}
                                      }
                                  catch (e)
                                      {
                                       return{value : item.name, link : item.external_urls["spotify"], image : "/media/album.jpg"}
                                      }
                                  }))
                              }
                     });
                 },
                 minLength: 2,
                 select:	function(	event, ui	)
                          {
                          if	(ui.item)
                                  {
                                    $("#id_spotifyLink").val(ui.item.link);
                                    $("#id_image").val(ui.item.image);
                                  }
                         }
             });

             $("#id_track_name").autocomplete({
                 source: function( request, response ) {
                     $.ajax({
                         url: "https://api.spotify.com/v1/search?q=" + request.term + "&type=track",
                         type: "GET",
                         dataType: "json",

                         success: function( data_received )
                              {
                                response( $.map( data_received["tracks"]["items"], function( item )
                                  {
                                    try
                                       {
                                        return{value : item.name, link : item.external_urls["spotify"], image : item.images[0]["url"]}
                                       }
                                   catch (e)
                                       {
                                        return{value : item.name, link : item.external_urls["spotify"], image : "/media/track.jpg"}
                                       }
                                  }))
                              }
                     });
                 },
                 minLength: 2,
                 select:	function(	event, ui	)
                          {
								           if	(ui.item)
                                  {
                                   $("#id_spotifyLink").val(ui.item.link);
                                   $("#id_image").val(ui.item.image);
																	}
												  }
             });
         });
     </script>

{% if user.is_authenticated and artist.user == user or album.user == user or track.user == user or user.is_superuser %}
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit"/>
    </form>

{% else %}
  <h2>You don't have rights to access the demanded page</h2>
  <button type='submit' onclick="window.location.href='/musicAPP'">Go Back</button>
{% endif %}

{% endblock %}
