{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}musicAPP{% endblock %}</title>
</head>
<body>
<div id="content">
    {% block content %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <ul><h2><a href="/musicAPP/artists.html">Artists</a>
          <a href="/musicAPP/albums.html">Albums</a>
          <a href="/musicAPP/tracks.html">Tracks</a>
          <a href="/musicAPP/api/">API</a></h2></ul>
    {% endblock %}
</div>
<div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>
