{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated and track.user == user or user.is_superuser %}
  <button type='submit' onclick="window.location.href='/musicAPP/tracks/{{ track.pk }}/edit.html'">Edit</button>
  <button type='submit' onclick="window.location.href='/musicAPP/tracks/{{ track.pk }}/delete.html'">Delete</button>
{% endif %}
{% if track %}
    <h1>{{ track.track_name }}</h1>
    <h2>Artist:<a href='/musicAPP/artists/{{ track.artists.pk }}.html'>{{ track.artists.artist_name }}</a></h2>
    <h2>Album: <a href='/musicAPP/albums/{{ track.album.pk }}.html'>{{ track.album.album_name }}</a></h2>
    <h2>Spotify Link: <a title='{{ track.spotifyLink }} Link'
           href='{{ track.spotifyLink }}'> {{ track.spotifyLink }} </a></h2>
    <h2 style="color:#b30000" >Added by: {{ track.user }}</h2>
{% endif %}
{% endblock %}
