{% extends 'base.html' %}
{% block content %}
<button type='submit' onclick="window.location.href='/musicAPP/tracks/{{ track.pk }}.json'">View in JSON</button>
<button type='submit' onclick="window.location.href='/musicAPP/tracks/{{ track.pk }}.xml'">View in XML</button>
<br></br>
{% if user.is_authenticated and track.user == user or user.is_superuser %}
  <button type='submit' onclick="window.location.href='/musicAPP/tracks/{{ track.pk }}/edit.html'">Edit</button>
  <button type='submit' onclick="window.location.href='/musicAPP/tracks/{{ track.pk }}/delete.html'">Delete</button>
{% endif %}
{% if track %}
<span vocab="http://schema.org/" typeof="MusicRecording">
    <h1><span property="name">{{ track.track_name }}</span></h1>
    <span property ="image" content =" {{ track.image }}"></span>

    <p><img src = "{{track.image}}" height="300" width="300"/> </p>
    <h2>Artist:
      <span property="byArtist">
          <a href='/musicAPP/artists/{{ track.artists.pk }}.html'>
              {{ track.artists.artist_name }}
          </a>
      </span>
    </h2>
    <h2>Album:
      <span property="inAlbum">
          <a href='/musicAPP/albums/{{ track.album.pk }}.html'>
              {{ track.album.album_name }}
          </a>
      </span>
    </h2>
    <h2>Spotify Link:
        <span property="url">
          <a title='{{ track.spotifyLink }} Link'href='{{ track.spotifyLink }}'>
            {{ track.spotifyLink }}
          </a>
        </span>
      </h2>
    <h2 style="color:#b30000" >Added by: {{ track.user }}</h2>
{% endif %}


<h2>Reviews</h2>
{% if track.tracksReviews.all|length > 0 %}
<span rel="aggregateRating">
    <p typeof="AggregateRating">

      Average rating <a style="color:#b30000"><strong>{{ track.averageRatingString }}</strong></a>
      <span property="ratingValue" content="{{ track.averageRating }}">
        {% with track.trackreview_set.all|length as reviewCount %}

        from <span property="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
        {% endwith %}
    </p>
</span>
<ul rel="review">
    {% for review in track.tracksReviews.all %}
        <li typeof="Review">
            <p style="color:#b30000" rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue" content="{{ review.rating }}"></span>
                {{ review.stringRating }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{ best.0 }}"></span>
                {% endwith %}
            </p>
            <ul>
              <p property="description">{{ review.comment }}</p>
              <p>Created by <span property="author">{{ review.user }}</span> on
                  <span property="datePublished" content="{{ review.date|date:'Y-m-d' }}">{{ review.date }}</span></p>
            </ul>
        </li>
    {% endfor %}
</ul>
{% endif %}

<h3>Add Review</h3>
<form action="{% url 'musicapp:track_review_create' track.pk %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>{% for rate in RATING_CHOICES %}
    <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}" />
    <label for="choice{{ forloop.counter }}">{{ rate.1 }}</label>
    <br/>{% endfor %}
    </p>
    <input type="submit" value="Review" />
</form>
</span>

{% endblock %}
