{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated and track.user == user or user.is_superuser %}
  <button type='submit' onclick="window.location.href='/musicAPP/tracks/{{ track.pk }}/edit.html'">Edit</button>
{% endif %}
{% if track %}
    <h1>{{ track.name }}</h1>
    <h2>Artists:<br>{% for artist in track.artists.all %} <p style="text-indent: 1cm;">
      <a href='/musicAPP/artists/{{ artist.pk }}.html'>{{artist.name}}</a></p>
      {% endfor %} </h2>
    <h2>Album: <a href='/musicAPP/albums/{{ track.album.pk }}.html'>{{ track.album.name }}</a></h2>
    <h2>Spotify Link: <a title='{{ track.spotifyLink }} Link'
           href='{{ track.spotifyLink }}'> {{ track.spotifyLink }} </a></h2>

{% endif %}
{% endblock %}
